**/**/db
**/**/work
**/**/incremental_db
**/**/output_files
**/**/.dvt/
**/**/simulation/
*/tb/.wlf
*/tb/.vstf
**/tb/transcript
**/**/transcript
*.bak
.sw
*.qws
*.project
dvt_build.log

*.qpf
*.qsf
*.mti
*.mpf
*.wlf
